@import url("https://fonts.googleapis.com/css?family=Material+Icons");

#navbarholder {
  -webkit-box-shadow: -1px 11px 32px -21px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 11px 32px -21px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 11px 32px -21px rgba(0, 0, 0, 0.1);
}

#navbar a {
  color: black !important;
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  display: inline-block;
  position: relative;
}
#navbar a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(0, 0, 0);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#navbar a:hover:after {
  width: 100%;
  left: 0;
}

@media (min-width: 992px) {
  #navbarholder {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 992px) {
  #underline {
    justify-content: flex-end !important;
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (max-width: 574px) {
  .searchcontainer {
    width: 40vw !important;
  }
  .searchcontainer input {
    width: 80%;
  }
}

#navbarholder hr {
  margin: 4px;
}

#adminLogo img,
#profileLogo img,
#searchLogo img {
  width: 60%;
  margin: 0;
  padding: 0;
}

#adminLogo {
  margin: 0;
  padding: 0;
}

#searchLogo {
  padding: 0.5vh;
}

#brandName {
  color: black;
}

#underline {
  display: flex;
}

#underline a:last-child {
  margin-left: auto;
}
